/* src/App.css */
.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  .start-button {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color:#eb55bf;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
  }
  
  .top-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .timer {
    font-size: 24px;
    font-weight: bold;
  }
  
  .lifelines-container {
    display: flex;
    gap: 10px;
  }
  
  .lifeline-button {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bolder;
    color: white;
    background-color: #ec729c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .question {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .option-button {
    padding: 10px;
    font-size: 18px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .option-button.correct {
    background-color: #4caf50;
  }
  
  .option-button.incorrect {
    background-color: #f44336;
  }
  
  .next-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #c54c82;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .amount-display {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .final-amount {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: red;
  }
    
